#button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 4px;
}

#button1:hover {
    background-color: #3e8e41;
    color: white;
}

.navbar {
    background: url("../pictures/background.jpg");
    color: #eee;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 150px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

#navbar2 {
    background: url("../pictures/background2.jpg");
    color: #eee;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 150px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100% {
        background-position:0px -3000px;
    }
}

.navlink:hover {
    color: #ffffff;
}

nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #ab2011;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: pink;
    text-decoration: none;
}